html {
    margin: auto;
    box-sizing: border-box;
    display: table;
}
body {
    height: 100%;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
*:before, *:after {
    box-sizing: inherit;
}
/*clearfix*/

.group:before,
.group:after {
    content: “ “;
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}
.body {
    padding: 0 1.25em 0 1.875em;
    font-size: 100%;
}

/*header*/
.heading img {
    max-width: 100%;
    background-size: cover;
}

/*kto som*/
.about {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 8.75em;
}
.title {
    color: #ffcdd2;
    width: 30%;
    font-weight: 200;
    font-size: 2.5em;
    float: left;
    font-family: 'Poppins', sans-serif;
    padding-top: .9em;
}
.generals {
    box-sizing: border-box;
    float: left;
    max-width: 35%;
    padding-top: 2em;
    display: block;
}
#name {
    padding-left: 6.5em;
}
#birth {
    padding-left: .3em;
}
#adress {
    padding-left: 5.5em;
}
.contact-me {
    box-sizing: border-box;
    padding-left: 2em;
    padding-top: 2em;
    float: left;
    max-width: 35%;
    display: block;
}
#tel {
    padding-left: 1.3em;
}
#mail{
    padding-left: .5em
}

/*čiara*/
.line {
    width: 100%;
    height: 2px;
    margin: 0;
    text-align: center;
    background-color: #f9d7d7;

}

/*kde pracujem*/

.work {
    height: 20em;
}
#job-1 {
    color: #FF99A2;
    max-width: 10%;
    font-weight: 400;
    font-size: .95em;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    padding: 2.8em 0 8em 0;
}
#job-2 {
    color: #FF99A2;
    max-width: 10%;
    font-weight: 400;
    font-size: .95em;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    padding: 12.5em 0 0 0;
}

.right-side {
    box-sizing: border-box;
    float: right;
    width: 60%;
    padding-right: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.right-side p {
    font-weight: 200;
}

/*school*/
.school {
    height: 10em;
}
#study {
    color: #FF99A2;
    max-width: 10%;
    font-weight: 400;
    font-size: .95em;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    padding-top: 2em;

}
/*kurzy*/
.course {
    height: 13em;
}
#course-date {
    color: #FF99A2;
    max-width: 10%;
    font-weight: 400;
    font-size: .95em;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    padding-top: 2em;
}

/*skills*/
.skills {
    height: 11em;
}
.skills-1 {
    color: black;
    font-weight: 200;
    font-size: .95em;
    float: left;
    font-family: 'Poppins', sans-serif;
    padding-top: 2.5em;
}
.gradients {
    float: left;
    width: 7.5em;
}
.gradient-1 {
    margin-top: 2.2em;
    margin-left: 1.25em;
    height: .35em;
    border-radius: .1875em;
    background: rgb(139,37,37);
    background: linear-gradient(90deg, rgba(139,37,37,1) 43%, rgba(250,216,216,1) 43%);
}
.gradient-2 {
    margin-left: 1.25em;
    height: .35em;
    border-radius: .1875em;
    background: rgb(139,37,37);
    background: linear-gradient(90deg, rgba(139,37,37,1) 29%, rgba(250,216,216,1) 29%);
}
.gradient-3 {
    margin-left: 1.25em;
    height: .35em;
    border-radius: .1875em;
    background: rgb(139,37,37);
    background: linear-gradient(90deg, rgba(139,37,37,1) 39%, rgba(250,216,216,1) 39%);
}
.skills-2 {
    color: black;
    font-weight: 200;
    font-size: .95em;
    float: left;
    font-family: 'Poppins', sans-serif;
    padding: 2.5em 0 0 2.5em;
}
.gradient-1a {
    margin-top: 2.6em;
    margin-left: 1.25em;
    height: .35em;
    border-radius: .1875em;
    background: rgb(139,37,37);
    background: linear-gradient(90deg, rgba(139,37,37,1) 16%, rgba(250,216,216,1) 16%);
}
.gradient-2a {
    margin-left: 1.25em;
    height: .35em;
    border-radius: .1875em;
    background: rgb(139,37,37);
    background: linear-gradient(90deg, rgba(139,37,37,1) 37%, rgba(250,216,216,1) 37%);
}
.gradient-3a {
    margin-left: 1.25em;
    height: .35em;
    border-radius: .1875em;
    background: rgb(139,37,37);
    background: linear-gradient(90deg, rgba(139,37,37,1) 64%, rgba(250,216,216,1) 64%);

}

/*hobby*/
.hobby {
    height: 15em;
}
.hobby-section {
    width: 15%;
    height: 170px;
    float: left;
    padding: .5em;
}
#camera {
    padding-top: 1em;
}

.hobby-title {
    color: #f9a6ae;
    text-align: center;
    font-weight: 200;
    font-size: .95em;
    font-family: 'Poppins', sans-serif;
}

footer {
    width: 100%;
    height: 9.375em;
    background: #f9a6ae;
}
.footer-section {
    box-sizing: border-box;
    color: #fff;
    font-weight: 200;
    font-size: 1.25em;
    float: left;
    font-family: 'Poppins', sans-serif;
    width: 33%;
    padding-top: 3.25em;
    display: inline-block;
}
.footer-section:first-child {
    padding-left: 1em;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width: 1005px) {
    .generals {
        font-size: .9em;
    }
    .contact-me {
        font-size: .9em;
    }
    .right-side {
        font-size: .9em;
    }
    .title {
        font-size: 2em;
    }
}

@media only screen and (min-width: 1250px) {
    .title {
        width: 350px;
    }

    #job-2 {
        width: 100px;
    }

    #job-1 {
        width: 100px;
    }

    #study {
        width: 100px;
    }

    #course-date {
        width: 100px;
    }

    .right-side {
        width: 670px;
    }
}

    @media screen and (max-width: 768px) {
        .right-side {
            font-size: .8em;
        }
        .work {
            height: 18em;
        }
        #job-2,
        #job-1 {
            font-size: .8em;
        }
        #job-2 {
            padding-top: 10em;
        }
        .hobby-section img {
            width: 5em;
        }
        #study {
            font-size: .8em;
        }
        #course-date {
            font-size: .8em;
        }
        #name {
            padding: 0;
        }
        #adress {
            padding: 0;
        }
        .contact-me {
            padding-left: 0;
        }
    }

@media screen and (max-width: 481px) {
    .contact-me {
        float: none;
        box-sizing: initial;
        padding: 2em 0 0 9.5em;
        max-width: 35%;
        display: inline-block;
    }

    .about {
        height: 12em;
    }

    .title {
        font-size: 1.3em;
    }

    #job-2 {
        font-size: .6em;
    }

    #job-1 {
        font-size: .6em;
    }

    #study {
        font-size: .6em;
    }

    #course-date {
        font-size: .6em;
    }

    .generals {
        font-size: .8em;
    }

    .contact-me {
        font-size: .8em;
        max-width: 50%;
        padding-left: 10.5em;
    }

    #birth {
        padding: 0;
    }

    .work {
        height: 24em;
    }

    .course {
        height: 19em;
    }

    .skills {
        height: 15em;
    }

    .skills-2 {
        padding-left: 9em;
    }

    .gradient-1a {
        margin-top: 2.2em;
    }

    .hobby-section {
        width: 13.5%;
    }

    .hobby-section img {
        width: 2em;
        padding-left: 1em;
    }

    .hobby-title {
        font-size: .65em;
    }

    .footer-section {
        font-size: .8em;
        padding-top: 5em;
    }

    .right-side {
        padding-left: 1em;
    }

    .school {
        height: 12em;

    }
}
    @media screen and (max-width: 320px) {
        .about {
            height: 15em;
        }
        .right-side {
            padding-left: 1.2em;
            padding-right: 2em;
        }
        .right-side h2 {
            font-size: 1em;
        }
        .work {
            height: 27em;
        }
        .school {
            height: 12em;
        }
        .course {
            height: 24em;
        }
        .skills {
            height: 20em;
        }
        .hobby {
            height: 12em;
        }
        .hobby-section {
            width: 20%;
            height: 4em
        }
        footer {
            height: 15em;

        }
        .footer-section {
            padding-left: 30%;
            width: 100%
        }
        .footer-section:first-child {
            padding-top: .5em;
            padding-left: 30%;
        }


    }










